@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br /><br /><h1 class="display-4">Bienvenue sur l'annuaire Agri-food Management</h1><br />
    <p>La qualité, notre passion...</p>
    <p>L'efficacité, notre devise !</p>
</div>
